<%= form_for(@party) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :name, "Name", class: 'label' %>
    <div class="control">
      <%= f.text_field :name, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :name_abbreviation, "Name Abbreviation", class: 'label' %>
    <div class="control">
      <%= f.text_field :name_abbreviation, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :alternate_name, "Alternate Name", class: 'label' %>
    <div class="control">
      <%= f.text_field :alternate_name, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :alternate_abbreviation, "Alternate Abbreviation", class: 'label' %>
    <div class="control">
      <%= f.text_field :alternate_abbreviation, class: 'input' %>
    </div>
  </div>

  <div class="buttons">
    <%= f.submit "Save", class: "button is-primary" %>
    <%= link_to 'Cancel', cancel_path, class: "button is-light", role: "button" %>
  </div>
<% end %>