<% provide(:title, @party.name) %>
<h1>Party: <%= @party.name %></h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'layouts/admin_menu' %>
  </div>
  <div class="column">
    <div class="buttons">
      <%= link_to 'Edit', edit_party_path(@party), class: "button is-link" %>
      <%= link_to 'Delete', @party, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-danger" %>
      <%= link_to 'Back', parties_path, class: "button" %>
    </div>

    <div class="show-grid-wrapper">

      <div class="grid-label">Name:</div>
      <div class="grid-value"><%= @party.name %></div>

      <div class="grid-label">Name Abbreviation:</div>
      <div class="grid-value"><%= @party.name_abbreviation %></div>

      <div class="grid-label">Alternate Name:</div>
      <div class="grid-value"><%= @party.alternate_name %></div>

      <div class="grid-label">Alternate Abbreviation:</div>
      <div class="grid-value"><%= @party.alternate_abbreviation %></div>

    </div>
  </div>
</div>

