<% provide(:title, @party.name) %>
<h1>Party: <%= @party.name %></h1>

<div class="field">
  <label class="label">Name</label>
  <%= @party.name %>
</div>

<div class="field">
  <label class="label">Name Abbreviation</label>
  <%= @party.name_abbreviation %>
</div>

<div class="field">
  <label class="label">Alternate Name</label>
  <%= @party.alternate_name %>
</div>

<div class="field">
  <label class="label">Alternate Abbreviation</label>
  <%= @party.alternate_abbreviation %>
</div>

<div class="buttons">
  <%= link_to 'Edit', edit_party_path(@party), class: "button is-link" %>
  <%= link_to 'Delete', @party, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-danger" %>
  <%= link_to 'Back', parties_path, class: "button" %>
</div>