<div class="election-details-box-container">

  <!-- Image -->
  <div>
    <%= image_tag(get_election_picture_url(election.id), alt: election.name, class: "is-flag-big") %>
  </div>
  
  <!-- Election details -->
  <div>
    <p class="election-name">
      <%= election.name %>
    </p>
    <p><%= display_election_date(election.election_date) %></p>
    <% if get_number_of_election_candidates(election.id) > 0 %>
      <p><%= number_with_delimiter(get_number_of_election_candidates(election.id), :delimiter => ',') %> candidates</p>
    <% end %>
    <% if get_number_of_election_parties(election.id) > 0 %>
      <p><%= number_with_delimiter(get_number_of_election_parties(election.id), :delimiter => ',') %> parties</p>
    <% end %>
  </div>

  <!-- Button -->
  <div>
    <%= link_to "View Candidates", election_summary_path(election.slug), class: "button is-primary" %>
  </div>
</div>