<!-- Banner -->
<section class="section">
  <div class="container is-widescreen">
    <div class="columns is-mobile">
      <div class="column is-10 is-offset-1">
        <% if @content_banner %>
          <%= sanitize @content_banner.content %>
        <% end %>
      </div>
    </div>
    <figure class="image is-fullwidth">
      <%= image_tag("home_page_banner.jpg", alt: "People voting") %>
    </figure>
  </div>
</section>

<!-- Upcoming Elections -->
<section class="hero is-primary" id="upcoming-elections">
  <div class="hero-body">
    <h1>Upcoming Elections</h1>
    <% if @elections_future.any? %>
      <ul>
        <% @elections_future.each do |election| %>
          <li class="elections-list">
            <%= render 'static_pages/election_details_box', election: election %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <div class="content_no_upcoming_elections">
        <% if @content_no_upcoming_elections %>
          <%= sanitize @content_no_upcoming_elections.content %>
        <% end %>
      </div>
    <% end %>
    <div class="has-text-centered">
      <%= link_to "View Past Elections", root_path(anchor: "past-elections"), class: "button is-success" %>
    </div>
  </div>
</section>

<!-- About -->
<section class="section" id="about">
  <div class="container is-widescreen">
    <h1>About ElectionTime.org</h1>

    <div class="about-picture">
      <%= image_tag("home_page_about.jpg", alt: "About ElectionTime.org") %>
    </div>

    <div class="wysiwyg">
      <% if @content_about %>
        <%= sanitize @content_about.content %>
      <% end %>
    </div>
  </div>
</section>

<!-- Contact -->
<section class="section" id="contact">
  <div class="container is-widescreen">
    <h1>Get In Touch</h1>

    <div class="contact-picture">
      <%= image_tag("home_page_contact.jpg", alt: "Get In Touch") %>
    </div>

    <div class="wysiwyg">
      <% if @content_contact %>
        <%= sanitize @content_contact.content %>
      <% end %>
    </div>

    <h2>Connect on Social Media</h2>
    <a href="https://twitter.com/ElectionTimeOrg" target="_blank">
      <div class="icon-text">
        <span class="icon is-large">
          <i class="fab fa-twitter fa-2x"></i>
        </span>
        <span>Follow us on Twitter</span>
      </div>
    </a>
    <a href="https://www.facebook.com/ElectionTimeOrg" target="_blank">
      <div class="icon-text">
        <span class="icon is-large">
          <i class="fab fa-facebook fa-2x"></i>
        </span>
        <span>Follow us on Facebook</span>
      </div>
    </a>
  </div>
</section>

<!-- Past Elections -->
<section class="hero is-primary" id="past-elections">
  <div class="hero-body">
    <h1>Past Elections</h1>
    <ul>
      <% @elections_past.each do |election| %>
        <li class="elections-list">
          <%= render 'static_pages/election_details_box', election: election %>
        </li>
      <% end %>
    </ul>
  </div>
</section>