<!-- Banner -->
<section class="section">
  <div class="container is-widescreen">
    <div class="columns is-mobile">
      <div class="column is-10 is-offset-1">
        <% if @content_banner %>
          <%= sanitize @content_banner.content %>
        <% end %>
        <div class="has-text-centered">
          <%= link_to "View Upcoming Elections", root_path(anchor: "upcoming-elections"), class: "button is-primary" %>
        </div>
      </div>
    </div>
    <figure class="image is-fullwidth">
      <%= image_tag("home_page_banner.jpg", alt: "People voting") %>
    </figure>
  </div>
</section>

<!-- Upcoming Elections -->
<section class="hero is-primary">
  <div class="hero-body">
    <section id="upcoming-elections">
      <h1>Upcoming Elections</h1>
      <ul>
        <% @elections_future.each do |election| %>
          <li class="elections-list">
            <%= render 'static_pages/election_details_box', election: election %>
          </li>
        <% end %>
      </ul>
    </section>
  </div>
</section>

<!-- About -->
<section class="section">
  <div class="container is-widescreen">
    <div class="columns">
      <div class="column is-half">
        <figure class="image is-square">
          <%= image_tag("home_page_about.jpg", alt: "Ballot") %>
        </figure>
      </div>
      <div class="column is-half">
        <% if @content_about %>
          <%= sanitize @content_about.content %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<!-- Past Elections -->
<section class="hero is-primary">
  <div class="hero-body">
    <section id="past-elections">
      <h1>Past Elections</h1>
      <ul>
        <% @elections_past.each do |election| %>
          <li class="elections-list">
            <%= render 'static_pages/election_details_box', election: election %>
          </li>
        <% end %>
      </ul>
    </section>
  </div>
</section>