<!-- Banner -->
<section>
  <div class="columns is-mobile">
    <div class="column is-10 is-offset-1">
      <% if @content_main %>
        <%= sanitize @content_main.content %>
      <% end %>
    </div>
  </div>
  <figure class="image is-fullwidth">
    <%= image_tag("home_page_cover.jpg", alt: "People voting") %>
  </figure>
</section>

<!-- Upcoming Elections -->
<section>
  <h1>Upcoming Elections</h1>
  <ul>
    <% @elections_future.each do |election| %>
      <li>
        <%= link_to election_summary_path(election.slug) do %>
          <%= render 'static_pages/election_details_box', election: election %>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>


<!-- About -->


<!-- Past Elections -->
<section>
  <h1>Past Elections</h1>
  <ul>
    <% @elections_past.each do |election| %>
      <li>
        <%= link_to election_summary_path(election.slug) do %>
          <%= render 'static_pages/election_details_box', election: election %>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>