<% provide(:title, 'Edit Public Profile') %>

<h2>Edit Public Profile</h2>

<%= form_for(@participant, url: profile_path(@participant), method: :patch) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :picture, "Picture", class: 'label' %>
    <div class="control">
      <%= f.file_field :picture %>
    </div>
  </div>

  <div class="field">
    <%= f.label :name, "Name", class: 'label' %>
    <div class="control">
      <%= f.text_field :name, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :email, "Email", class: 'label' %>
    <div class="control">
      <%= f.text_field :email, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :phone, "Phone", class: 'label' %>
    <div class="control">
      <%= f.text_field :phone, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :website, "Website", class: 'label' %>
    <div class="control">
      <%= f.text_field :website, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :biography, "Biography", class: 'label' %>
    <div class="control">
      <%= f.text_area :biography, class: 'textarea' %>
    </div>
  </div>

  <div class="buttons">
    <%= f.submit "Save", class: "button is-link" %>
    <%= link_to 'Cancel', profile_path(@participant), class: "button", role: "button" %>
  </div>
<% end %>