<% provide(:title, 'Edit Public Profile') %>

<h2>Edit Public Profile</h2>

<%= form_for(setup_participant_form(@participant), url: profile_path(@participant), method: :patch) do |p_fields| %>
  <%= render 'shared/error_messages', object: p_fields.object %>

  <div class="field">
    <%= p_fields.label :picture, "Picture", class: 'label' %>
    <div class="control">
      <%= p_fields.file_field :picture %>
    </div>
  </div>

  <div class="field">
    <%= p_fields.label :name, "Name", class: 'label' %>
    <div class="control">
      <%= p_fields.text_field :name, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= p_fields.label :email, "Email", class: 'label' %>
    <div class="control">
      <%= p_fields.text_field :email, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= p_fields.label :phone, "Phone", class: 'label' %>
    <div class="control">
      <%= p_fields.text_field :phone, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= p_fields.label :website, "Website", class: 'label' %>
    <div class="control">
      <%= p_fields.text_field :website, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= p_fields.label :biography, "Biography", class: 'label' %>
    <div class="control">
      <%= p_fields.text_area :biography, class: 'textarea' %>
    </div>
  </div>

  <!-- ADDRESS -->
  <h3>Address</h3>

  <%= p_fields.fields_for :address do |a_fields| %>
    <div class="field">
      <%= a_fields.label :street, "Street", class: 'label' %>
      <div class="control">
        <%= a_fields.text_field :street, class: 'input' %>
      </div>
    </div>

    <div class="field">
      <%= a_fields.label :city, "City", class: 'label' %>
      <div class="control">
        <%= a_fields.text_field :city, class: 'input' %>
      </div>
    </div>
  
    <div class="field">
      <%= a_fields.label :province_id, "Province", class: 'label' %>
      <div class="control">
        <div class="select">
          <%= a_fields.select(:province_id, options_for_province, {:prompt => '- Select -'}) %>
        </div>
      </div>
    </div>
    
    <div class="field">
      <%= a_fields.label :postal_code, "Postal Code", class: 'label' %>
      <div class="control">
        <%= a_fields.text_field :postal_code, class: 'input' %>
      </div>
    </div>
  <% end %>

  <!-- SOCIAL MEDIA -->
  <h3>Social Media Profiles</h3>

  <% @social_media_profiles.each do |type_id, handle| %>
    <div class="field">
      <%= label_tag("social_media_type", display_social_media_type(type_id), { class: 'label' }) %>
      <div class="control">
        <%= text_field_tag("smt_" + type_id.to_s, handle, { class: 'input' }) %>
      </div>
    </div>
  <% end %>

  <!-- SURVEY QUESTIONS AND ANSWERS -->
  <h3>Survey</h3>

  <% @survey_questions.each do |question_id, question| %>
    <div class="field">
      <%= label_tag("survey_question", question, { class: 'label' }) %>
      <div class="control">
        <%= text_field_tag("sqa_" + question_id.to_s, display_survey_answer(question_id, @participant.id), { class: 'input' }) %>
      </div>
    </div>
  <% end %>

  <div class="buttons">
    <%= p_fields.submit "Save", class: "button is-link" %>
    <%= link_to 'Cancel', profile_path(@participant), class: "button", role: "button" %>
  </div>
<% end %>