<% provide(:title, 'Edit Public Profile') %>
<h1>Edit Public Profile</h1>

<%= form_for(@participant, url: profile_path(@participant), method: :patch) do |p_fields| %>
  <%= render 'shared/error_messages', object: p_fields.object %>

  <h2>Personal Details</h2>

  <div class="field">
    <%= p_fields.label :name, "Full Name", class: 'label' %>
    <div class="control">
      <%= p_fields.text_field :name, class: 'input' %>
    </div>
  </div>
  
  <div class="field">
    <%= p_fields.label :picture, "Picture", class: 'label' %>
    <div class="control">
      <%= p_fields.file_field :picture %>
    </div>
  </div>

  <hr>

  <h2>Contact Information</h2>

  <div class="field">
    <%= p_fields.label :email, "Email", class: 'label' %>
    <div class="control">
      <%= p_fields.text_field :email, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= p_fields.label :phone, "Phone", class: 'label' %>
    <div class="control">
      <%= p_fields.text_field :phone, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= p_fields.label :address, "Address", class: 'label' %>
    <div class="control">
      <%= p_fields.text_field :address, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= p_fields.label :website, "Website", class: 'label' %>
    <div class="control">
      <%= p_fields.text_field :website, class: 'input' %>
    </div>
  </div>
  <div class="help-text">
    Must begin with 'https://' or 'http://'
  </div>

  <hr>

  <h2>Social Media Profiles</h2>
  
  <div class="help-text">
    Enter the handle for any social media networks you use. Omit any special symbols such as "@". 
    For example, to link to facebook.com/yourname or twitter.com/yourname, enter <u>yourname</u> in the appropriate field.
    You will be able to confirm that your handles are linked after saving. 
  </div>

  <% @social_media_profiles.each do |type_id, handle| %>
    <div class="field">
      <%= label_tag("social_media_type", display_social_media_type(type_id), { class: 'label' }) %>
      <div class="control">
        <%= text_field_tag("smt_" + type_id.to_s, handle, { class: 'input' }) %>
      </div>
    </div>
  <% end %>

  <hr>

  <h2>Biography and Survey Answers</h2>

  <div class="field">
    <label class="label">Tell us about yourself</label>
    <div class="control">
      <%= p_fields.text_area :biography, class: 'textarea' %>
    </div>
    <div id="biography_characters_remaining"></div>
  </div>

  <% @survey_questions.each do |question_id, question| %>
    <div class="field">
      <%= label_tag("survey_question", question, { class: 'label' }) %>
      <div class="control">
        <%= text_area_tag("sqa_" + question_id.to_s, display_survey_answer_text(question_id, @participant.id), { class: 'textarea survey-answers-input' }) %>
      </div>
      <div id="survey_answer_characters_remaining_<%= question_id.to_s %>"></div>
    </div>
  <% end %>

  <div class="buttons">
    <%= p_fields.submit "Save", class: "button-with-extra-space is-primary" %>
    <%= link_to 'Cancel', profile_path(@participant), class: "button-with-extra-space is-light", role: "button" %>
  </div>
<% end %>

<%= hidden_field_tag('biography_max_character_length', get_biography_max_character_length()) %>
<%= hidden_field_tag('survey_answer_max_character_length', get_survey_answer_max_character_length()) %>
<%= javascript_pack_tag 'profiles' %>