<% provide(:title, display_participant(@participant.id)) %>
<h1><%= display_participant(@participant.id) %></h1>

<div class="buttons">
  <%= link_to 'Edit', edit_profile_path(@participant), class: "button is-link" %>
  <%= link_to 'Back', profiles_path, class: "button" %>
</div>

<div class="show-grid-wrapper">

  <div class="grid-label">Picture:</div>
  <div class="grid-value">
    <figure class="image is-avatar">
      <%= image_tag(get_participant_picture_url(@participant.id), alt: @participant.name) %>
    </figure>
  </div>

  <div class="grid-label">Email:</div>
  <div class="grid-value"><%= @participant.email %></div>

  <div class="grid-label">Phone:</div>
  <div class="grid-value"><%= @participant.phone %></div>

  <div class="grid-label">Website:</div>
  <div class="grid-value"><%= @participant.website %></div>

  <div class="grid-label">Address:</div>
  <div class="grid-value"><%= display_address(@participant.address_id) %></div>

  <div class="grid-label">Party:</div>
  <div class="grid-value"><%= display_party(@participant.party_id) %></div>

  <% if @participant.is_candidate %>
    <div class="grid-label">District:</div>
    <div class="grid-value"><%= display_district(@participant.district_id) %></div>
  <% else %>
    <div class="grid-label">Party Leader:</div>
    <div class="grid-value"><%= display_participant(@participant.leader_participant_id) %></div>
  <% end %>

  <div class="grid-label">Social Media Profiles:</div>
  <div class="grid-value">
    <nav class="level is-mobile">
      <div class="level-left">
        <% get_social_media_profiles_in_alphabetical_order(@participant.id).each do |s| %>
          <div class="level-item mr-4">
            <%= link_to(social_media_profile_link(s.id), target: "_blank") do %>
              <i class="<%= get_social_media_type_icon(s.social_media_type_id) %>"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </nav>
  </div>

  <div class="grid-label">Biography:</div>
  <div class="grid-value"><%= @participant.biography %></div>

  <div class="grid-label">Survey Answers:</div>
  <div class="grid-value">
    <% @survey_questions.each do |question_id, question| %>
      <p class="survey-question"><%= question %></p>
      <p class="survey-answer"><%= display_survey_answer_text(question_id, @participant.id) %></p>
    <% end %>
  </div>
</div>