<%= form_for(@content) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :name, "Name", class: 'label' %>
    <div class="control">
      <%= f.text_field :name, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :content, "Content", class: 'label' %>
    <div class="control">
      <%= f.text_area :content, class: 'textarea tinymce'%>
    </div>
  </div>

  <div class="field">
    <%= f.label :language_id, "Language", class: 'label' %>
    <div class="control">
      <div class="select">
        <%= f.select(:language_id, options_for_language, {:prompt => '- Select -'}) %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :content_location_id, "Content Location", class: 'label' %>
    <div class="control">
      <div class="select">
        <%= f.select(:content_location_id, options_for_content_location, {:prompt => '- Select -'}) %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :election_id, "Election", class: 'label' %>
    <div class="control">
      <div class="select">
        <%= f.select(:election_id, options_for_election, {:include_blank => '- None -'}) %>
      </div>
    </div>
  </div>

  <div class="buttons">
    <%= f.submit "Save", class: "button is-primary" %>
    <%= link_to 'Cancel', cancel_path, class: "button is-light", role: "button" %>
  </div>
<% end %>