<%= form_for(@content) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :location, "Location", class: 'label' %>
    <div class="control">
      <%= f.text_field :location, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :content, "Content", class: 'label' %>
    <div class="control">
      <%= f.text_area :content, class: 'textarea', rows: 10 %>
    </div>
  </div>

  <div class="field">
    <%= f.label :machine_name, "Machine Name", class: 'label' %>
    <div class="control">
      <%= f.text_field :machine_name, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :language_id, "Language", class: 'label' %>
    <div class="control">
      <div class="select">
        <%= f.select(:language_id, options_for_language, {:prompt => '- Select -'}) %>
      </div>
    </div>
  </div>

  <div class="buttons">
    <%= f.submit "Save", class: "button is-link" %>
    <%= link_to 'Cancel', cancel_path, class: "button", role: "button" %>
  </div>
<% end %>