<% provide(:title, @content.name) %>
<h1>Content: <%= @content.name %></h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'admin/admin_menu' %>
  </div>
  <div class="column">
    <div class="buttons">
      <!-- Turn off turbolinks so that Tinymce will load on the Edit page -->
      <%= link_to 'Edit', edit_content_path(@content), class: "button is-link", data: { turbolinks: "false" } %>
      <%= link_to 'Delete', @content, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-danger" %>
      <%= link_to 'Back', contents_path, class: "button" %>
    </div>

    <div class="show-grid-wrapper">

      <div class="grid-label">Name:</div>
      <div class="grid-value"><%= @content.name %></div>

      <div class="grid-label">Content:</div>
      <div class="grid-value"><%= @content.content %></div>

      <div class="grid-label">Language:</div>
      <div class="grid-value"><%= display_language(@content.language_id) %></div>

      <div class="grid-label">Content Location:</div>
      <div class="grid-value"><%= display_content_location(@content.content_location_id) %></div>

      <div class="grid-label">Election:</div>
      <div class="grid-value"><%= display_election(@content.election_id) %></div>

    </div>
  </div>
</div>

