<% provide(:title, @content.location) %>
<h1>Content: <%= @content.location %></h1>

<div class="field">
  <label class="label">Location</label>
  <%= @content.location %>
</div>

<div class="field">
  <label class="label">Content</label>
  <%= @content.content %>
</div>

<div class="field">
  <label class="label">Machine Name</label>
  <%= @content.machine_name %>
</div>

<div class="field">
  <label class="label">Language</label>
  <%= display_language(@content.language_id) %>
</div>

<div class="buttons">
  <%= link_to 'Edit', edit_content_path(@content), class: "button is-link" %>
  <%= link_to 'Delete', @content, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-danger" %>
  <%= link_to 'Back', contents_path, class: "button" %>
</div>