<% provide(:title, @office.name) %>
<h1>Office: <%= @office.name %></h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'admin/admin_menu' %>
  </div>
  <div class="column">
    <div class="buttons">
      <%= link_to 'Edit', edit_office_path(@office), class: "button is-link" %>
      <%= link_to 'Delete', @office, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-danger" %>
      <%= link_to 'Back', offices_path, class: "button" %>
    </div>

    <div class="show-grid-wrapper">

      <div class="grid-label">Name:</div>
      <div class="grid-value"><%= @office.name %></div>

      <div class="grid-label">Order:</div>
      <div class="grid-value"><%= @office.order %></div>

      <div class="grid-label">Election:</div>
      <div class="grid-value"><%= display_election(@office.election_id) %></div>

      <div class="grid-label"># of Districts:</div>
      <div class="grid-value"><%= number_with_delimiter(@office.districts.count, :delimiter => ',') %></div>

      <div class="grid-label">Districts:</div>
      <div class="grid-value">
        <ul>
          <% @office.districts.order(:name).each do |district| %>
            <li><%= link_to district.name, district %></li>
          <%end %>
        </ul>  
      </div>

    </div>
  </div>
</div>

