<%= form_for(@system_setting) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :name, "Name" %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :setting, "Setting" %>
  <%= f.text_field :setting, class: 'form-control' %>

  <div class="buttons">
    <%= f.submit "Save", class: "button is-link" %>
    <%= link_to 'Cancel', cancel_path, class: "button", role: "button" %>
  </div>
<% end %>