<% provide(:title, @system_setting.name) %>
<h1>System Setting: <%= @system_setting.name %></h1>

<p>
  <strong>Name: </strong><%= @system_setting.name %>
</p>
<p>
  <strong>Setting: </strong><%= @system_setting.setting %>
</p>

<div class="buttons">
  <%= link_to 'Edit', edit_system_setting_path(@system_setting), class: "button is-link" %>
  <%= link_to 'Delete', @system_setting, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-danger" %>
  <%= link_to 'Back', system_settings_path, class: "button" %>
</div>