<% provide(:title, @system_setting.name) %>
<h1>System Setting: <%= @system_setting.name %></h1>

<p>
  <strong>Name: </strong><%= @system_setting.name %>
</p>
<p>
  <strong>Setting: </strong><%= @system_setting.setting %>
</p>

<%= link_to 'Edit', edit_system_setting_path(@system_setting), class: "btn btn-primary" %>
<%= link_to 'Delete', @system_setting, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
<%= link_to 'Back', system_settings_path, class: "btn btn-default" %>