<div id="contacts">
  <hr>
</div>
<div class="comparison-section-heading">
  Contact information
</div>
<div class="comparison-candidates-grid">
  <div class="columns is-multiline">
    <% participants.each do |p| %>
      <div class="column is-one-third">
        <!-- Header -->
        <%= render 'comparison_pages/comparison_participant_header', participant_id: p.id, party_id: p.party_id, avatar_image_class: 'avatar' %>
  
        <!-- Contact information -->
        <div class="contact-details">
          <% if p.email.present? %>
            <div class="icon-text">
              <span class="icon">
                <i class="fas fa-at"></i>
              </span>
              <span><%= mail_to p.email, p.email, target: "_blank" %></span>
            </div>
          <% end %>
          <% if p.phone.present? %>
            <div class="icon-text">
              <span class="icon">
                <i class="fas fa-phone-alt"></i>
              </span>
              <span><%= p.phone %></span>
            </div>
          <% end %>
          <% if p.address.present? %>
            <div class="icon-text">
              <span class="icon">
                <i class="fas fa-map-marker-alt"></i>
              </span>
              <span><%= p.address %></span>
            </div>
          <% end %>
          <% if p.website.present? %>
            <div class="icon-text">
              <span class="icon">
                <i class="fas fa-globe"></i>
              </span>
              <span><%= link_to p.website, p.website, target: "_blank" %></span>
            </div>
          <% end %>
            
          <!-- Social media icons -->
          <% get_social_media_profiles_in_alphabetical_order(p.id).each do |s| %>
            <%= link_to(social_media_profile_link(s.id), target: "_blank") do %>
              <span class="icon">
                <i class="<%= get_social_media_type_icon(s.social_media_type_id) %>"></i>
              </span>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>