<a id="contacts">
  <div class="comparison-section-heading">
    Contacts
  </div>
</a>
<div class="comparison-candidates-grid">
  <div class="columns is-multiline">
    <% participants.each do |p| %>
      <div class="column is-one-third">
        <!-- Header -->
        <%= render 'comparison_pages/comparison_participant_header', participant_id: p.id, party_id: p.party_id %>
  
        <!-- Contact information -->
        <p>Email: <%= mail_to p.email, p.email, target: "_blank" %></p>
        <p>Phone: <%= p.phone %></p>
        <p>
          Website: 
          <% if p.website %>
            <%= link_to p.website, p.website, target: "_blank" %>
          <% end %>
        </p>
        <p>Address: <%= display_address(p.address_id) %></p>
  
        <!-- Social media icons -->
        <nav class="level is-mobile">
          <div class="level-left">
            <% get_social_media_profiles_in_alphabetical_order(p.id).each do |s| %>
              <div class="level-item mr-4">
                <%= link_to(social_media_profile_link(s.id), target: "_blank") do %>
                  <i class="<%= get_social_media_type_icon(s.social_media_type_id) %>"></i>
                <% end %>
              </div>
            <% end %>
          </div>
        </nav>
      </div>
    <% end %>
  </div>
</div>