<% provide(:title, "Compare Party Leaders") %>
<h1>Compare Party Leaders</h1>

<!-- INTRO -->
<%= render 'shared/comparison_intro' %>

<!-- NAV MENU -->
<%= render 'shared/comparison_nav_menu', survey_questions: @survey_questions %>

<!-- BIOGRAPHIES -->
<%= render 'shared/comparison_biography', participants: @party_leaders %>

<!-- SURVEY QUESTIONS AND ANSWERS -->
<%= render 'shared/comparison_survey', survey_questions: @survey_questions, participants: @party_leaders %>

<!-- CONTACTS -->
<%= render 'shared/comparison_contact', participants: @party_leaders %>