<% provide(:title, @election.name) %>

<h1><%= @election.name %></h1>
<h2><%= display_election_date(@election.election_date) %></h2>

<%= link_to compare_party_leaders_path(@election) do %>
  <div class="box">
    <div class="section-heading">
      Compare Party Leaders
    </div>
    <div class="columns is-multiline">
      <% @party_leaders.each do |pl| %>
        <div class="column is-one-third">
          <%= render 'comparison_pages/comparison_participant_header', participant_id: pl.id, party_id: pl.party_id %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<%= link_to compare_party_platforms_path(@election) do %>
  <div class="box">
    <div class="section-heading">
      Compare Party Platforms
    </div>
    <div class="columns is-multiline">
      <% @parties.each do |party| %>
        <div class="column is-one-third">
          <%= render 'comparison_pages/comparison_participant_header', participant_id: party.id, party_id: party.party_id %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<%= form_with(url: election_summary_path(@election), method: "get", local: true) do |f| %>
  <div class="box">
    <div class="section-heading">
      Compare Candidates
    </div>
    <div class="select-your-riding">
      <%= f.label "Select your riding", class: 'label' %>
      <div class="select">
        <%= f.select(:district_id, options_for_select(options_for_district(@election.id))) %>
      </div>
      <%= f.submit "Go!", class: "button is-link" %>
    </div>
  </div>
<% end %>