<% provide(:title, @election.name) %>

<div class="election-summary-header">
  <div class="election-details-and-picture-container">
    <div class="columns">
  
      <!-- Election picture -->
      <div class="column is-narrow">
        <figure class="image election-picture-small">
          <%= image_tag(get_election_picture_url(@election.id), alt: @election.name) %>
        </figure>
      </div>
    
      <!-- Election details -->
      <div class="column">
        <p class="election-name">
          <%= @election.name %>
        </p>
        <p><%= display_election_date(@election.election_date) %></p>
      </div>
    </div>
  </div>
</div>

<% if @content_top %>
  <%= sanitize @content_top.content %>
<% end %>

<!-- COMPARE PARTY LEADERS (if enabled) -->
<% if @party_leaders %>
  <div class="comparison-box-container">
    <div class="election-section-heading">
      Compare Party Leaders
    </div>
    <div class="columns is-multiline is-mobile">
      <% @party_leaders.each do |p| %>
        <div class="column is-half-mobile is-half-tablet is-one-third-desktop is-one-third-widescreen is-one-third-fullhd">
          <%= render 'comparison_pages/comparison_participant_header', participant_id: p.id, party_id: p.party_id, avatar_image_class: 'avatar-small' %>
        </div>
      <% end %>
    </div>
    <div class="has-text-centered">
      <%= link_to "Go!", compare_party_leaders_path(@election.slug), class: "button is-success" %>
    </div>
  </div>
<% end %>

<!-- COMPARE PARTY PLATFORMS (if enabled) -->
<% if @parties %>
  <div class="comparison-box-container">
    <div class="election-section-heading">
      Compare Party Platforms
    </div>
    <div class="columns is-multiline is-mobile">
      <% @parties.each do |p| %>
        <div class="column is-half-mobile is-half-tablet is-one-third-desktop is-one-third-widescreen is-one-third-fullhd">
          <%= render 'comparison_pages/comparison_participant_header', participant_id: p.id, party_id: p.party_id, avatar_image_class: 'avatar-small' %>
        </div>
      <% end %>
    </div>
    <div class="has-text-centered">
      <%= link_to "Go!", compare_party_platforms_path(@election.slug), class: "button is-success" %>
    </div>
  </div>
<% end %>

<!-- COMPARE CANDIDATES FOR OFFICE -->
<% @election.offices.order(:order).each do |office| %>

  <% if office.districts.empty? %>

    <!-- WITHOUT DISTRICTS -->
    <div class="comparison-box-container">
      <div class="election-section-heading">
        Compare Candidates for <%= office.name %>
      </div>
      <div class="columns is-multiline is-mobile">
        <% @election.candidates_for_display(office.id).each do |p| %>
          <div class="column is-half-mobile is-half-tablet is-one-third-desktop is-one-third-widescreen is-one-third-fullhd">
            <%= render 'comparison_pages/comparison_participant_header', participant_id: p.id, party_id: p.party_id, avatar_image_class: 'avatar-small' %>
          </div>
        <% end %>
      </div>
      <div class="has-text-centered">
        <%= link_to "Go!", compare_candidates_path(election_slug: @election.slug, office_id: office.id), class: "button is-success" %>
      </div>
    </div>

  <% else %>

    <!-- WITH DISTRICTS -->
    <%= form_with(url: election_summary_path(@election.slug), method: "get", local: true) do |f| %>
      <%= hidden_field_tag :office_id, office.id %>
      <div class="comparison-box-container">
        <div class="election-section-heading">
          Compare Candidates for <%= office.name %>
        </div>
        <div class="columns is-multiline is-mobile is-centered is-vcentered">
          <div class="column is-narrow">
            <%= f.label "Select your district", class: 'label' %>
          </div>
          <div class="column is-narrow">
            <div class="select">
              <%= f.select(:district_id, options_for_select(options_for_district(office.id))) %>
            </div>
          </div>
          <div class="column is-narrow">
            <%= f.submit "Go!", class: "button is-success" %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if @content_bottom %>
  <%= sanitize @content_bottom.content %>
<% end %>