<aside class="menu">
  <p class="menu-label">
    Tools
  </p>
  <ul class="menu-list">
    <li><%= link_to "Dashboard", admin_dashboard_path, class: "#{'is-active' if request.path.include? admin_dashboard_path}" %></li>
    <li><%= link_to "Import Districts", admin_import_districts_path, class: "#{'is-active' if request.path.include? admin_import_districts_path}" %></li>
    <li><%= link_to "Import Participants", admin_import_participants_path, class: "#{'is-active' if request.path.include? admin_import_participants_path}" %></li>
  </ul>
  <p class="menu-label">
    Data Management
  </p>
  <ul class="menu-list">
    <li><%= link_to "Contents", contents_path, class: "#{'is-active' if request.path.include? contents_path}" %></li>
    <li><%= link_to "Districts", districts_path, class: "#{'is-active' if request.path.include? districts_path}" %></li>
    <li><%= link_to "Elections", elections_path, class: "#{'is-active' if request.path.include? elections_path}" %></li>
    <li><%= link_to "Logs", logs_path, class: "#{'is-active' if request.path.include? logs_path}" %></li>
    <li><%= link_to "Offices", offices_path, class: "#{'is-active' if request.path.include? offices_path}" %></li>  
    <li><%= link_to "Participants", participants_path, class: "#{'is-active' if request.path.include? participants_path}" %></li>
    <li><%= link_to "Parties", parties_path, class: "#{'is-active' if request.path.include? parties_path}" %></li>
    <li><%= link_to "Social Media Profiles", social_media_profiles_path, class: "#{'is-active' if request.path.include? social_media_profiles_path}" %></li>
    <li><%= link_to "Survey Answers", survey_answers_path, class: "#{'is-active' if request.path.include? survey_answers_path}" %></li>
    <li><%= link_to "Survey Questions", survey_questions_path, class: "#{'is-active' if request.path.include? survey_questions_path}" %></li>
    <li><%= link_to "Surveys", surveys_path, class: "#{'is-active' if request.path.include? surveys_path}" %></li>
    <li><%= link_to "Users", users_path, class: "#{'is-active' if request.path.include? users_path}" %></li>
  </ul>
  <p class="menu-label">
    Lookup Tables
  </p>
  <ul class="menu-list">
    <li><%= link_to "Content Locations", content_locations_path, class: "#{'is-active' if request.path.include? content_locations_path}" %></li> 
    <li><%= link_to "Election Types", election_types_path, class: "#{'is-active' if request.path.include? election_types_path}" %></li>
    <li><%= link_to "Jurisdictions", jurisdictions_path, class: "#{'is-active' if request.path.include? jurisdictions_path}" %></li>
    <li><%= link_to "Languages", languages_path, class: "#{'is-active' if request.path.include? languages_path}" %></li>
    <li><%= link_to "Log Types", log_types_path, class: "#{'is-active' if request.path.include? log_types_path}" %></li>
    <li><%= link_to "Social Media Types", social_media_types_path, class: "#{'is-active' if request.path.include? social_media_types_path}" %></li>
    <li><%= link_to "Survey Types", survey_types_path, class: "#{'is-active' if request.path.include? survey_types_path}" %></li>
    <li><%= link_to "System Settings", system_settings_path, class: "#{'is-active' if request.path.include? system_settings_path}" %></li>
    <li><%= link_to "User Types", user_types_path, class: "#{'is-active' if request.path.include? user_types_path}" %></li>
  </ul>
</aside>