<% provide(:title, 'Import Participants') %>
<h1>Import Participants</h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'admin/admin_menu' %>
  </div>
  <div class="column">

    <%= render partial: 'importer_status_messages', locals: {errors: @errors, rows_count: @new_participants_count, success_message: @success_message } %>

    <%= form_with(url: admin_import_participants_path, method: "post", local: true) do |f| %>
      <div class="field">
        <%= f.label "Election", class: 'label' %>
        <div class="control">
          <div class="select">
            <%= f.select(:election_id, options_for_election, {:prompt => '- Select -'}, {:required => true}) %>
          </div>
        </div>
      </div>

      <div class="field">
        <%= f.label "Overwrite all existing participants for this election", class: 'label' %>
        <div class="control">
          <%= f.check_box :overwrite %>
        </div>
      </div>

      <div class="field">
        <%= f.label "CSV file", class: 'label' %>
        <div class="control">
          <%= f.file_field :file, {:required => true} %>
        </div>
      </div>

      <div class="buttons">
        <%= f.submit "Import", class: "button is-link" %>
      </div>
    <% end %>

    <div class="instructions">
      <p><strong>CSV file instructions:</strong></p>
      <p>The first row is for column headings.</p>
      <p>If a participant is a Candidate (C): Office is required and the district must belong to the office. If an office doesn't have districts, leave the district blank.</p>
      <p>If a participant is a Party (P): Office and district must be blank, and party leader must be N.</p>
      <p>Columns should contain the following data in this exact order:</p>
      <ol>
        <li>Participant is a candidate or party? (C or P)</li>
        <li>Participant is the party leader? (Y or N)</li>
        <li>Participant is the incumbent? (Y or N)</li>
        <li>Owner's First Name</li>
        <li>Owner's Last Name</li>
        <li>Owner's Email</li>
        <li>Participant's Name</li>
        <li>Participant's Party</li>
        <li>Office</li>
        <li>District</li>
      </ol>
    </div>
  </div>
</div>