<% provide(:title, 'Import Offices & Districts') %>
<h1>Import Offices & Districts</h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'admin/admin_menu' %>
  </div>
  <div class="column">

    <%= render partial: 'importer_status_messages', locals: {errors: @errors, rows_count: @new_districts_count, success_message: @success_message } %>

    <%= form_with(url: admin_import_districts_path, method: "post", local: true) do |f| %>
      <div class="field">
        <%= f.label "Election", class: 'label' %>
        <div class="control">
          <div class="select">
            <%= f.select(:election_id, options_for_election, {:prompt => '- Select -'}, {:required => true}) %>
          </div>
        </div>
      </div>

      <div class="field">
        <%= f.label "Overwrite all existing offices and districts for this election", class: 'label' %>
        <div class="control">
          <%= f.check_box :overwrite %>
        </div>
      </div>

      <div class="field">
        <%= f.label "CSV file", class: 'label' %>
        <div class="control">
          <%= f.file_field :file, {:required => true} %>
        </div>
      </div>

      <div class="buttons">
        <%= f.submit "Import", class: "button is-primary" %>
      </div>
    <% end %>

    <div class="instructions">
      <p><strong>CSV file instructions:</strong></p>
      <p>The first row is for column headings.</p>
      <p>Enter offices in the order you want them to be displayed, from top to bottom.</p>
      <p>All offices must have a corresponding district, and vice-versa.</p>
      <p>Columns should contain the following data in this exact order:</p>
      <ol>
        <li>Office name</li>
        <li>District name</li>
      </ol>
    </div>
  </div>
</div>