<% provide(:title, 'Import Participants') %>
<h1>Import Participants</h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'admin/admin_menu' %>
  </div>
  <div class="column">

    <%= render partial: 'importer_status_messages', locals: {errors: @errors, rows_count: @new_participants_count, success_message: @success_message } %>

    <%= form_with(url: admin_import_participants_path, method: "post", local: true) do |f| %>
      <div class="field">
        <%= f.label "Election", class: 'label' %>
        <div class="control">
          <div class="select">
            <%= f.select(:election_id, options_for_election, {:prompt => '- Select -'}, {:required => true}) %>
          </div>
        </div>
      </div>

      <div class="field">
        <%= f.label "Data Source", class: 'label' %>
        <div class="control">
          <div class="select">
            <%= f.select(:data_source, options_for_import_participants_data_source, {:prompt => '- Select -'}, {:required => true}) %>
          </div>
        </div>
      </div>

      <div class="field">
        <%= f.label "Overwrite all existing participants for this election", class: 'label' %>
        <div class="control">
          <%= f.check_box :overwrite %>
        </div>
      </div>

      <div class="field">
        <%= f.label "CSV file", class: 'label' %>
        <div class="control">
          <%= f.file_field :file, {:required => true} %>
        </div>
      </div>

      <div class="buttons">
        <%= f.submit "Import", class: "button is-link" %>
      </div>
    <% end %>

    <div class="instructions">
      <p><strong>CSV file instructions:</strong></p>
      <p>The first row is for column headings.</p>
      <p>Columns should contain the following data in this exact order:</p>
      <p>CANDIDATES</p>
      <ol>
        <li>Owner First Name</li>
        <li>Owner Last Name</li>
        <li>Owner Email</li>
        <li>Participant Name</li>
        <li>Participant Party</li>
        <li>Participant is the incumbent? (Y or N)</li>
        <li>Participant District</li>
      </ol>
      <p>PARTIES AND PARTY LEADERS</p>
      <ol>
        <li>Owner First Name</li>
        <li>Owner Last Name</li>
        <li>Owner Email</li>
        <li>Participant Name</li>
        <li>Participant Party</li>
        <li>Participant is the incumbent? (Y or N)</li>
        <li>Party Leader Participant Name</li>
      </ol>
    </div>
  </div>
</div>