<% provide(:title, 'Admin - Resources') %>
<h1>Admin - Resources</h1>

<ul class="resources-list">
  <li><%= link_to "Election Types", election_types_path %></li>
  <li><%= link_to "Elections", elections_path %></li>
  <li><%= link_to "History Types", history_types_path %></li>
  <li><%= link_to "Jurisdictions", jurisdictions_path %></li>
  <li><%= link_to "User Types", user_types_path %></li>
  <li><%= link_to "Users", users_path %></li>
</ul>