<% provide(:title, @survey_answer.answer) %>
<h1>Survey Answer: <%= @survey_answer.answer %></h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'layouts/admin_menu' %>
  </div>
  <div class="column">
    <div class="field">
      <label class="label">Survey Question</label>
      <%= display_survey_question(@survey_answer.survey_question_id) %>
    </div>

    <div class="field">
      <label class="label">Participant</label>
      <%= display_participant(@survey_answer.participant_id) %>
    </div>

    <div class="field">
      <label class="label">Answer</label>
      <%= @survey_answer.answer %>
    </div>

    <div class="field">
      <label class="label">Source</label>
      <%= @survey_answer.source %>
    </div>

    <div class="buttons">
      <%= link_to 'Edit', edit_survey_answer_path(@survey_answer), class: "button is-link" %>
      <%= link_to 'Delete', @survey_answer, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-danger" %>
      <%= link_to 'Back', survey_answers_path, class: "button" %>
    </div>
  </div>
</div>