<%= form_for(@participant) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :picture, "Picture", class: 'label' %>
    <div class="control">
      <%= f.file_field :picture %>
    </div>
  </div>

  <div class="field">
    <%= f.label :user_id, "Owner", class: 'label' %>
    <div class="control">
      <div class="select">
        <%= f.select(:user_id, options_for_user, {:prompt => '- Select -'}) %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :name, "Name", class: 'label' %>
    <div class="control">
      <%= f.text_field :name, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :party_id, "Party", class: 'label' %>
    <div class="control">
      <div class="select">
        <%= f.select(:party_id, options_for_party, {:prompt => '- Select -'}) %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :office_id, "Office", class: 'label' %>
    <div class="control">
      <div class="select">
        <%= f.select(:office_id, options_for_office, {include_blank: "- None -"}) %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :district_id, "District", class: 'label' %>
    <div class="control">
      <div class="select">
        <%= f.select(:district_id, options_for_district, {include_blank: "- None -"}) %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :is_candidate, "Is Candidate", class: 'label' %>
    <div class="control">
      <%= f.check_box :is_candidate %>
    </div>
  </div>

  <div class="field">
    <%= f.label :is_incumbent, "Is Incumbent", class: 'label' %>
    <div class="control">
      <%= f.check_box :is_incumbent %>
    </div>
  </div>

  <div class="field">
    <%= f.label :is_party_leader, "Is Party Leader", class: 'label' %>
    <div class="control">
      <%= f.check_box :is_party_leader %>
    </div>
  </div>

  <div class="field">
    <%= f.label :email, "Email", class: 'label' %>
    <div class="control">
      <%= f.text_field :email, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :phone, "Phone", class: 'label' %>
    <div class="control">
      <%= f.text_field :phone, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :address, "Address", class: 'label' %>
    <div class="control">
      <%= f.text_field :address, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :website, "Website", class: 'label' %>
    <div class="control">
      <%= f.text_field :website, class: 'input' %>
    </div>
  </div>
  <div class="help-text">
    Must begin with 'https://' or 'http://'
  </div>

  <div class="field">
    <%= f.label :biography, "Biography", class: 'label' %>
    <div class="control">
      <%= f.text_area :biography, class: 'textarea' %>
    </div>
  </div>

  <div class="buttons">
    <%= f.submit "Save", class: "button-with-extra-space is-primary" %>
    <%= link_to 'Cancel', cancel_path, class: "button-with-extra-space is-light", role: "button" %>
  </div>
<% end %>