<% provide(:title, @user.first_name + ' ' + @user.last_name) %>
<h1>User: <%= @user.first_name + ' ' + @user.last_name %></h1>

<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<%= link_to 'Edit', edit_user_path(@user_type), class: "btn btn-primary" %>
<%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
<%= link_to 'Back', user_path, class: "btn btn-default" %>