<%= form_for(@social_media_profile) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :handle, "Handle", class: 'label' %>
    <div class="control">
      <%= f.text_field :handle, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :participant_id, "Participant", class: 'label' %>
    <div class="control">
      <div class="select">
        <%= f.select(:participant_id, options_for_participant, {:prompt => '- Select -'}) %>
      </div>
   </div>
  </div>

  <div class="field">
    <%= f.label :social_media_type_id, "Social Media Type", class: 'label' %>
    <div class="control">
      <div class="select">
        <%= f.select(:social_media_type_id, options_for_social_media_type, {:prompt => '- Select -'}) %>
      </div>
    </div>
  </div>
  
  <div class="buttons">
    <%= f.submit "Save", class: "button-with-extra-space is-primary" %>
    <%= link_to 'Cancel', cancel_path, class: "button-with-extra-space is-light", role: "button" %>
  </div>
<% end %>