<%= form_for(@election) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :name, "Name", class: 'label' %>
    <div class="control">
      <%= f.text_field :name, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :active, "Active", class: 'label' %>
    <div class="control">
        <%= f.check_box :active %>
    </div>
  </div>

  <div class="field">
    <%= f.label :election_type_id, "Election Type", class: 'label' %>
    <div class="control">
      <div class="select">
        <%= f.select(:election_type_id, options_for_election_type, {:prompt => '- Select -'}) %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :election_date, "Election Date", class: 'label' %>
    <div class="control">
      <%= f.text_field :election_date, class: 'input', placeholder: "dd/mm/yyyy" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :jurisdiction_id, "Jurisdiction", class: 'label' %>
    <div class="control">
      <div class="select">
        <%= f.select(:jurisdiction_id, options_for_jurisdiction, {:prompt => '- Select -'}) %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :district_ids, "Districts", class: 'label' %>
    <div class="control">
      <div class="select is-multiple">
        <%= f.collection_select(:district_ids, District.order(:name), :id, :name, {:include_blank => false, :include_hidden => false}, {:multiple => true}) %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :participant_ids, "Participants", class: 'label' %>
    <div class="control">
      <div class="select is-multiple">
        <%= f.collection_select(:participant_ids, Participant.all, :id, :participant_name_for_display, {:include_blank => false, :include_hidden => false}, {:multiple => true}) %>
      </div>
    </div>
  </div>
  
  <div class="buttons">
    <%= f.submit "Save", class: "button is-link" %>
    <%= link_to 'Cancel', cancel_path, class: "button", role: "button" %>
  </div>
<% end %>