<% provide(:title, @election.name) %>
<h1>Election: <%= @election.name %></h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'admin/admin_menu' %>
  </div>
  <div class="column">
    <div class="buttons">
      <%= link_to 'Edit', edit_election_path(@election), class: "button is-primary" %>
      <%= link_to 'Delete', @election, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-danger" %>
      <%= link_to 'Back', elections_path, class: "button is-light" %>
    </div>

    <div class="show-grid-wrapper">

      <div class="grid-label">Picture:</div>
      <div class="grid-value">
        <figure class="image is-flag-big">
          <%= image_tag(get_election_picture_url(@election.id), alt: @election.name) %>
        </figure>
      </div>

      <div class="grid-label">Name:</div>
      <div class="grid-value"><%= @election.name %></div>

      <div class="grid-label">Slug:</div>
      <div class="grid-value"><%= @election.slug %></div>

      <div class="grid-label">Active:</div>
      <div class="grid-value"><%= display_boolean_as_yes_or_no(@election.active) %></div>

      <div class="grid-label">Election Type:</div>
      <div class="grid-value"><%= display_election_type(@election.election_type_id) %></div>

      <div class="grid-label">Election Date:</div>
      <div class="grid-value"><%= display_election_date(@election.election_date) %></div>

      <div class="grid-label">Jurisdiction:</div>
      <div class="grid-value"><%= display_jurisdiction(@election.jurisdiction_id) %></div>

      <div class="grid-label">Compare Parties:</div>
      <div class="grid-value"><%= display_boolean_as_yes_or_no(@election.compare_parties) %></div>

      <div class="grid-label">Compare Party Leaders:</div>
      <div class="grid-value"><%= display_boolean_as_yes_or_no(@election.compare_party_leaders) %></div>

      <div class="grid-label">Offices:</div>
      <div class="grid-value">
        <ul>
          <% @election.offices.order(:name).each do |office| %>
            <li><%= link_to office.name, office %></li>
          <%end %>
        </ul>  
      </div>
      
      <div class="grid-label">Surveys:</div>
      <div class="grid-value">
        <ul>
          <% @election.surveys.each do |survey| %>
            <li><%= link_to survey.name, survey %></li>
          <%end %>
        </ul>  
      </div>

      <div class="grid-label">Contents:</div>
      <div class="grid-value">
        <ul>
          <% @election.contents.each do |content| %>
            <li><%= link_to content.name, content %></li>
          <%end %>
        </ul>  
      </div>

      <div class="grid-label"># of Candidates:</div>
      <div class="grid-value"><%= number_with_delimiter(get_number_of_election_candidates(@election.id), :delimiter => ',') %></div>

      <div class="grid-label"># of Parties:</div>
      <div class="grid-value"><%= number_with_delimiter(get_number_of_election_parties(@election.id), :delimiter => ',') %></div>

      <div class="grid-label">Participants:</div>
      <div class="grid-value">
        <ul>
          <% @election.participants.order(:name).each do |participant| %>
            <li><%= link_to display_participant(participant.id), participant %></li>
          <%end %>
        </ul>
      </div>

    </div>
  </div>
</div>