<% provide(:title, @election.name) %>
<h1>Election: <%= @election.name %></h1>

<p>
  <strong>Name: </strong><%= @election.name %>
</p>
<p>
  <strong>Active: </strong><%= @election.active %>
</p>
<p>
  <strong>Election Type: </strong><%= display_election_type(@election.election_type_id) %>
</p>
<p>
  <strong>Election Date: </strong><%= @election.election_date.strftime("%B %d, %Y") %>
</p>
<p>
  <strong>Jurisdiction: </strong><%= display_jurisdiction(@election.jurisdiction_id) %>
</p>
<p>
  <strong>Districts: </strong>
  <ul>
    <% @election.districts.each do |district| %>
      <li><%= district.name %></li>
    <%end %>
  </ul>
</p>
<p>
  <strong>Participants: </strong>
  <ul>
    <% @election.participants.each do |participant| %>
      <li><%= display_participant(participant.id) %></li>
    <%end %>
  </ul>
</p>

<div class="buttons">
  <%= link_to 'Edit', edit_election_path(@election), class: "button is-link" %>
  <%= link_to 'Delete', @election, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-danger" %>
  <%= link_to 'Back', elections_path, class: "button" %>
</div>