<%= form_for(@survey_question) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :survey_id, "Survey", class: 'label' %>
    <div class="control">
      <div class="select">
        <%= f.select(:survey_id, options_for_survey, {:prompt => '- Select -'}) %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :question, "Question", class: 'label' %>
    <div class="control">
      <%= f.text_field :question, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :order, "Order", class: 'label' %>
    <div class="control">
      <%= f.text_field :order, class: 'input' %>
    </div>
  </div>

  <div class="buttons">
    <%= f.submit "Save", class: "button is-link" %>
    <%= link_to 'Cancel', cancel_path, class: "button", role: "button" %>
  </div>
<% end %>