<%= form_for(@district) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :name, "Name", class: 'label' %>
    <div class="control">
      <%= f.text_field :name, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :office_id, "Office", class: 'label' %>
    <div class="control">
      <div class="select">
        <%= f.select(:office_id, options_for_office, {:prompt => '- Select -'}) %>
      </div>
    </div>
  </div>
  
  <div class="buttons">
    <%= f.submit "Save", class: "button is-primary" %>
    <%= link_to 'Cancel', cancel_path, class: "button is-light", role: "button" %>
  </div>
<% end %>