<% provide(:title, @user_type.name) %>
<h1>User Type: <%= @user_type.name %></h1>

<p>
  <strong>Name: </strong><%= @user_type.name %>
</p>

<div class="buttons">
  <%= link_to 'Edit', edit_user_type_path(@user_type), class: "button is-link" %>
  <%= link_to 'Delete', @user_type, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-danger" %>
  <%= link_to 'Back', user_types_path, class: "button" %>
</div>