<% provide(:title, @jurisdiction.name) %>
<h1>Jurisdiction: <%= @jurisdiction.name %></h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'admin/admin_menu' %>
  </div>
  <div class="column">
    <div class="buttons">
      <%= link_to 'Edit', edit_jurisdiction_path(@jurisdiction), class: "button is-primary" %>
      <%= link_to 'Delete', @jurisdiction, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-danger" %>
      <%= link_to 'Back', jurisdictions_path, class: "button is-light" %>
    </div>

    <div class="show-grid-wrapper">

      <div class="grid-label">Name:</div>
      <div class="grid-value"><%= @jurisdiction.name %></div>

    </div>
  </div>
</div>