<% provide(:title, @jurisdiction.name) %>
<h1>Jurisdiction: <%= @jurisdiction.name %></h1>

<p>
  <strong>Name: </strong><%= @jurisdiction.name %>
</p>

<%= link_to 'Edit', edit_jurisdiction_path(@jurisdiction), class: "btn btn-primary" %>
<%= link_to 'Delete', @jurisdiction, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
<%= link_to 'Back', jurisdictions_path, class: "btn btn-default" %>