<% provide(:title, @jurisdiction.name) %>
<h1>Jurisdiction: <%= @jurisdiction.name %></h1>

<div class="field">
  <label class="label">Name</label>
  <%= @jurisdiction.name %>
</div>

<div class="buttons">
  <%= link_to 'Edit', edit_jurisdiction_path(@jurisdiction), class: "button is-link" %>
  <%= link_to 'Delete', @jurisdiction, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-danger" %>
  <%= link_to 'Back', jurisdictions_path, class: "button" %>
</div>