<% provide(:title, @address.street) %>
<h1>Address: <%= @address.street %></h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'shared/admin_menu' %>
  </div>
  <div class="column">
    <div class="buttons">
      <%= link_to 'Edit', edit_address_path(@address), class: "button is-link" %>
      <%= link_to 'Delete', @address, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-danger" %>
      <%= link_to 'Back', addresses_path, class: "button" %>
    </div>

    <div class="show-grid-wrapper">

      <div class="grid-label">Street:</div>
      <div class="grid-value"><%= @address.street %></div>

      <div class="grid-label">City:</div>
      <div class="grid-value"><%= @address.city %></div>

      <div class="grid-label">Province:</div>
      <div class="grid-value"><%= display_province(@address.province_id) %></div>

      <div class="grid-label">Postal Code:</div>
      <div class="grid-value"><%= @address.postal_code %></div>

    </div>
  </div>
</div>