<% provide(:title, @election_type.name) %>
<h1>Election Type: <%= @election_type.name %></h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'shared/admin_menu' %>
  </div>
  <div class="column">
    <div class="buttons">
      <%= link_to 'Edit', edit_election_type_path(@election_type), class: "button is-link" %>
      <%= link_to 'Delete', @election_type, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-danger" %>
      <%= link_to 'Back', election_types_path, class: "button" %>
    </div>

    <div class="show-grid-wrapper">

      <div class="grid-label">Name:</div>
      <div class="grid-value"><%= @election_type.name %></div>

    </div>
  </div>
</div>

