<% provide(:title, @social_media_type.name) %>
<h1>Social Media Type: <%= @social_media_type.name %></h1>

<div class="field">
  <label class="label">Name</label>
  <%= @social_media_type.name %>
</div>

<div class="buttons">
  <%= link_to 'Edit', edit_social_media_type_path(@social_media_type), class: "button is-link" %>
  <%= link_to 'Delete', @social_media_type, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-danger" %>
  <%= link_to 'Back', social_media_types_path, class: "button" %>
</div>