<% provide(:title, @social_media_type.name) %>
<h1>Social Media Type: <%= @social_media_type.name %></h1>

<p>
  <strong>Name: </strong><%= @social_media_type.name %>
</p>

<%= link_to 'Edit', edit_social_media_type_path(@social_media_type), class: "btn btn-primary" %>
<%= link_to 'Delete', @social_media_type, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
<%= link_to 'Back', social_media_types_path, class: "btn btn-default" %>