<% provide(:title, @province.name) %>
<h1>Province: <%= @province.name %></h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'layouts/admin_menu' %>
  </div>
  <div class="column">
    <div class="buttons">
      <%= link_to 'Edit', edit_province_path(@province), class: "button is-link" %>
      <%= link_to 'Delete', @province, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-danger" %>
      <%= link_to 'Back', provinces_path, class: "button" %>
    </div>

    <div class="field">
      <label class="label">Name</label>
      <%= @province.name %>
    </div>
  </div>
</div>

