<%= form_for(@log) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :log_type_id, "Log Type", class: 'label' %>
    <div class="control">
      <div class="select">
        <%= f.select(:log_type_id, options_for_log_type, {:prompt => '- Select -'}) %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :message, "Message", class: 'label' %>
    <div class="control">
      <%= f.text_field :message, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :user_id, "User", class: 'label' %>
    <div class="control">
      <div class="select">
        <%= f.select(:user_id, options_for_user, {:prompt => '- Select -'}) %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :location, "Location", class: 'label' %>
    <div class="control">
      <%= f.text_field :location, class: 'input' %>
    </div>
  </div>

  <div class="buttons">
    <%= f.submit "Save", class: "button-with-extra-space is-primary" %>
    <%= link_to 'Cancel', cancel_path, class: "button-with-extra-space is-light", role: "button" %>
  </div>
<% end %>