<% provide(:title, 'Log') %>
<h1>Log</h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'admin/admin_menu' %>
  </div>
  <div class="column">
    <div class="buttons">
      <%= link_to 'Edit', edit_log_path(@log), class: "button is-link" %>
      <%= link_to 'Delete', @log, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-danger" %>
      <%= link_to 'Back', logs_path, class: "button" %>
    </div>

    <div class="show-grid-wrapper">

      <div class="grid-label">User:</div>
      <div class="grid-value"><%= display_user(@log.user_id) %></div>

      <div class="grid-label">Log Type:</div>
      <div class="grid-value"><%= display_log_type(@log.log_type_id) %></div>

      <div class="grid-label">Message:</div>
      <div class="grid-value"><%= @log.message %></div>

      <div class="grid-label">Location:</div>
      <div class="grid-value"><%= @log.location %></div>

    </div>
  </div>
</div>