<% provide(:title, 'Log') %>
<h1>Log</h1>

<p>
  <strong>User: </strong><%= display_user(@log.user_id) %>
</p>
<p>
  <strong>Log Type: </strong><%= display_log_type(@log.log_type_id) %>
</p>
<p>
  <strong>Message: </strong><%= @log.message %>
</p>
<p>
  <strong>Location: </strong><%= @log.location %>
</p>

<div class="buttons">
  <%= link_to 'Edit', edit_log_path(@log), class: "button is-link" %>
  <%= link_to 'Delete', @log, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-danger" %>
  <%= link_to 'Back', logs_path, class: "button" %>
</div>