<footer class="footer">
  <div class="footer-container">
    <div class="footer-item">
      <%= image_tag("election_time_logo.png", alt: "ElectionTime.org", class: "footer-logo") %>
    </div>

    <div class="footer-item">
      <a href="https://twitter.com/ElectionTimeOrg" target="_blank" class="footer-spacer">
        <figure class="image is-48x48">
          <%= image_tag("twitter_logo.png", alt: "Twitter") %>
        </figure>
      </a>
      <a href="https://www.facebook.com/ElectionTimeOrg" target="_blank">
        <figure class="image is-48x48">
          <%= image_tag("facebook_logo.png", alt: "Facebook") %>
        </figure>
      </a>
    </div>

    <div class="footer-item">
      <p class="footer-spacer">Proudly made in Canada</p>
      <figure class="image is-32x32">
        <%= image_tag("canada_flag_footer.png", alt: "Canada flag") %>
      </figure>
    </div>
  </div>

  <div class="footer-fine-print">
    <% if @content_footer %>
      <%= sanitize @content_footer.content %>
    <% end %>
  </div>
</footer>