<header>
  <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <%= link_to image_tag("logo_top_menu.png", size: "200x50", alt: "ElectionTime.org"), root_path, class: "navbar-item" %>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMainMenu" onclick="toggleBurger()">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarMainMenu" class="navbar-menu">
        <div class="navbar-start">
          <%= link_to "Find My Election", about_path, class: "navbar-item" %>
          <%= link_to "About", about_path, class: "navbar-item" %>
          <%= link_to "Get Involved", volunteer_path, class: "navbar-item" %>
          <%= link_to "Contact", contact_path, class: "navbar-item" %>
        </div>

        <div class="navbar-end">
          <% if logged_in? %>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Account
              </a>
              <div class="navbar-dropdown is-right">
                <%= link_to "Public Profile", user_path(current_user), class: "navbar-item" %>
                <%= link_to "Survey Answers", edit_user_path(current_user), class: "navbar-item" %>
      
                <% if is_admin_user? %>
                  <hr class="navbar-divider">  
                  <%= link_to "Admin", admin_resources_path, class: "navbar-item" %>
                <% end %>
      
                <hr class="navbar-divider">
                <%= link_to "Log Out", logout_path, method: :delete, class: "navbar-item" %>
              </div>
            </div>

          <% else %>
            <%= link_to "Log In", login_path, class: "navbar-item" %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
</header>