<header>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <%= link_to image_tag("election_time_logo.png", alt: "ElectionTime"), root_path, class: "navbar-item" %>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMainMenu" onclick="toggle_burger_menu()">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarMainMenu" class="navbar-menu">
        <div class="navbar-end">
          <%= link_to "Upcoming Elections", root_path(anchor: "upcoming-elections"), class: "navbar-item" %>
          <%= link_to "About", root_path(anchor: "about"), class: "navbar-item" %>
          <%= link_to "Contact", root_path(anchor: "contact"), class: "navbar-item" %>
          <% if logged_in? %>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                <span class="icon">
                  <i class="fas fa-user-circle"></i>
                </span>
              </a>
              <div class="navbar-dropdown is-right">
                <% if user_has_participant_in_future_election? %>
                  <%= link_to "Public Profiles", profiles_path, class: "navbar-item" %>
                <% end %>

                <%= link_to "Account Settings", user_path(current_user), class: "navbar-item" %>
      
                <% if is_admin_user? %>
                  <hr class="navbar-divider">  
                  <%= link_to "Admin", admin_dashboard_path, class: "navbar-item" %>
                <% end %>
      
                <hr class="navbar-divider">
                <%= link_to "Log Out", logout_path, method: :delete, class: "navbar-item" %>
              </div>
            </div>

          <% else %>
            <%= link_to(login_path, class: "navbar-item", title: 'Log In') do %>
              <span class="icon">
                <i class="fas fa-user-circle"></i>
              </span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
</header>