<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://kit.fontawesome.com/701a10f68b.js" crossorigin="anonymous"></script>

    <!-- Initializes the tinymce editor for any field with class 'tinymce' -->
    <script src="https://cdn.tiny.cloud/1/axgrmds7yd4yps0wzgfe0edfb4qutfyznx7hp0q87hacr8dx/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
      tinymce.init({
        selector: '.tinymce',
        height: 500,
        menubar: false,
        plugins: [
          'advlist autolink lists link image charmap print preview anchor',
          'searchreplace visualblocks code fullscreen',
          'insertdatetime media table paste code help wordcount'
        ],
          toolbar: 'undo redo | formatselect | ' +
          ' bold italic backcolor | alignleft aligncenter ' +
          ' alignright alignjustify | bullist numlist outdent indent | ' +
          ' removeformat | help'
      });
    </script>

    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>

    <section class="section">
      <div class="container">
        <%= render 'layouts/breadcrumb' %>

        <% flash.each do |message_type, message| %>
          <div class="notification is-<%= message_type %>">
            <%= message %>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </section>

    <%= render 'layouts/footer' %>

    <div class="container">
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>